# Fill out this file and rename it to `settings.ini`.

# HTTPProxy = http://127.0.0.1:8081

[Scan]
Timeout = 5000

[Configure]
RestartAfterConfig = true
SelfIp = 192.168.1.2

[Network]
NetworkMask  = 255.255.255.0
Dns1         = 0.0.0.0
Dns2         = 0.0.0.0
DefaultRoute = 192.168.1.1
Route1       = 192.168.1.0
Mask1        = 255.255.255.0
Gateway1     = 192.168.1.1

[Language]
# Available:
# eGerman
# eEnglish
# eSpanish
# eFrench
# eItalian
# eHungarian
# eDutch
# ePortuguese
#   There are more in LP2 i didn't add logic for.
Language = eEnglish

[SIP]
SipRegistrar     = 192.168.1.1
SipRegistrarPort = 5060
SipServer        = 192.168.1.1
SipServerPort    = 5060
SipGateway       = 192.168.1.1
SipGatewayPort   = 5060
SipDomain        = internal.localdomain

Branding         = MyOrg

[SNTP]
SNTPServer      = 192.168.1.1
TimezoneOffset  = 0
DaylightSavings = true

[Keys]
KeyL1 = Loudspeaker
KeyL2 = RepeatDialing
KeyL3 = MissedCalls
KeyL4 = VoiceMessages
KeyL5 = CallRecording

KeyR1  = Notebook
KeyR2  = Callback

KeyR3  = SelectedDialing,111,Guy1
KeyR4  = DSS,112,location.internal,112,password,Guy2
KeyR5  = SelectedDialing,113,Guy3

# DSS keys require a line to be defined
KeyR-2 = Line,<self>,location.internal,<self>,password,true,true,1,Main Line
KeyR-1 = Cancel_Release
